.navigation-bar-search-wrapper {
  width: '100%';
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  padding: 10px;
}
.search-bar-title {
  color: whitesmoke;
}

.navigation-bar-search-wrapper > label {
  color: white;
}

.navigation-bar-search-wrapper .search-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
