.signUp {
  margin: 3rem auto;
  width: 60%;
  /* height: 60%; */
  border-radius: 6px;
  background-color: #c3b1e1;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  text-align: center;

}

.signUp form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  /* height: 80%; */
}

.signUp h1 {
  text-align: center;
  color: white;
}
