.form {
    display:flex;
    flex-wrap: wrap;
    background-color: #C3B1E1;
    border: 5px solid white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    z-index:20;
}

.image-preview {
    display:flex;
    flex-wrap:wrap;
    gap:5px;
}
.image-preview img{
    height:50px;
    width: 100px;
    
}
.image-preview p{
    color:white;
}

input[type="file"] {
    display: none;
    z-index:20;
}

.custom-file-upload {
    display: inline-block;
    cursor: pointer;
}
.input-text{
    color:white
}

.custom-file-upload img{
    display:flex;
    justify-self: center;
    content: url('./assets/static-upload.png');
    width: 60px;
    height: 60px;
}

.custom-file-upload img:hover{
    content: url('./assets/upload-file.gif');
    border-color: cyan;
}

input[type="text"] {
    border: 5px solid white;
    background-color:#C3B1E1;
}

input[type="text"]:active {
    border-color: cyan;
}

input[type="text"]:hover {
    border-color: cyan;
}

input[type="text"]:focus {
    outline:none;
    border-color: cyan;
}

.virtual-room-form div{
    display:flex;
}

.virtual-room-form div label{
    flex:3;
}

.virtual-room-form div input{
    flex:7
}

.break{
    flex-basis: 100%;
    height:0;
}

