.listing-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.listing-form-control {
  background: #c3b1e1;
  border: 5px dashed white;
}

.custom-file-upload {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 5px;
}

.custom-file-upload img {
  content: url('./assets/static-upload.png');
  aspect-ratio: 1;
  height: 100%;
}

.texture-file-list {
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
}

.texture-file-item {
  display:flex;
  gap:5px;
}

.thumbnail-img-preview{
  width:100%;
  aspect-ratio: 1;
}