.virtual-room-description-box {
    display:flex;
    flex-direction:row;
    border: 5px solid #C3B1E1;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.26);
    border-radius: 5px;
}

.virtual-room-description-box > img{
    aspect-ratio: 1;
    max-width:20%;
    border-right:5px solid #C3B1E1;
}

.virtual-room-description-box>div{
    align-items: left;
    flex:1;
    background-color: #C3B1E1
}

.button-door{
    background-color: red;
}

